With spacing
    {{> indented-partials.partial}}

    {{> indented-partials.partial}}

Without spacing
    {{> indented-partials.partial}}
    {{> indented-partials.partial}}

With text
    {{> indented-partials.partial}}
    text
    {{> indented-partials.partial}}

In a conditional
{{#thisIsTrue}}
    {{> indented-partials.partial}}
{{/thisIsTrue}}
